extends layout

block content
  div.ui.masthead.vertical.segment
    div.ui.container
      div.introduction
        h1.ui.header= title
    div.ui.main.container
      p= description
      div.ui.segment
        p Please select the cards.
        form.ui.form
          div.field
            label Community Cards
            select.ui.fluid.search.dropdown.selection.multiple#community-cards(multiple)
              option(value='') Select Cards
          div.field
            label Player 1
            select.ui.fluid.search.dropdown.selection.multiple#player1-cards(multiple)
              option(value='') Select Cards
          div.field
            label Player 2
            select.ui.fluid.search.dropdown.selection.multiple#player2-cards(multiple)
              option(value='') Select Cards
          button.ui.button(id='compare-button') Compare
        div#response
  
  script(src='/javascripts/index.js')
